<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <hr>
      <!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      
      <!--Fijate que en este caso se utiliza "let i = index" ya que al querer evaluar el logItem pues éste ya no es solo un numero y ya.
      He aquí donde entra la interrogante: Como aplicar los estilos a partir de la quinta fila?
      Cuando logItem manejaba solo enteros que se iban incrementando de 1 en 1 a partir de 1 pues era sencillo, sin embargo logItem ahora
      almacena fechas por lo que se hace mas complejo. Es por eso que evaluamos el index en el cual está posicionada esa data. No importa
      si se está almacenando un objeto, va a ocupar un index específico dentro del array.-->
      <div
        *ngFor="let logItem of log, let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}"
      >{{ logItem }}</div>
    </div>
  </div>
</div>
